.cls-1 {
    fill: url(#gradient);
}

h1 {
   color: white;
 position: fixed; 
    top: 1rem;
    left: 6rem;
    right: 6rem;
    width: auto;
    z-index: 999999; 
    text-align: center;

}

h2.intro {
    text-align: right;
}
p.right {
    text-align:right;
}

footer {
    background-color: black;
    text-align: center;
    height: 4rem;
    width: auto;
}
.bottom {
    color: white;
    padding-top: 1rem;
}